<ion-view ng-controller="mainController as mCtrl">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear">
		    <i class="ion-chevron-left"></i> {{mCtrl.huskyModel.selectedClub.name}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="category in mCtrl.huskyModel.selectedClub.Categories" ng-click="mCtrl.selectCategory(category)" ui-sref="levels">
                {{category.category}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>