<ion-view ng-controller="clubController as cCtrl">
     <ion-nav-bar>
        <ion-nav-back-button class="button-clear">
		    <i class="ion-chevron-left"></i> {{cCtrl.huskyModel.selectedSport.name}} - {{cCtrl.huskyModel.selectedLeague.name}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item class="add16padding" ng-repeat="club in cCtrl.huskyModel.selectedLeague.Clubs" ng-click="cCtrl.selectClub(club)" ui-sref="levels">
                {{club.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>