<ion-view title="Selectionnez un club" ng-controller="clubController as cCtrl">
    <!-- -->
    <ion-content>
        <ion-list>
            <ion-item class="round-corners--25  item--remove--padding" ng-repeat="club in cCtrl.huskyModel.clubList" ng-click="cCtrl.selectClub(club)" ui-sref="levels">
                <div class="ion--item--box--50 v--center ion--item--equ--div--2 item--padding--16l">
                    <p>{{club.name}}</p>
                </div>
                <div class="ion--item--equ--div--2 h--align-center">
                    <button class='button button--sacnite button--round-l button--size-s button--50 button--right'>
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>