<ion-view ng-controller="gameController as gCtrl">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear">
		    <i class="ion-chevron-left"></i> {{gCtrl.huskyModel.selectedCategory.category}} - {{gCtrl.huskyModel.selectedLevel.level}} - {{gCtrl.huskyModel.selectedTeam.team}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div>
            <div>
               <ion-checkbox class="item-checkbox-right" ng-model="gCtrl.huskyModel.selectedTeam.allEventsSelected" ng-change="gCtrl.selectAllEvents()">Select all events</ion-checkbox>
            </div>
            <ion-list>
                <div ng-repeat="date in gCtrl.huskyModel.selectedTeam.Dates">
                    <div ng-class="{hidden:date.isPassed}" ng-model="date.isPassed">
                        <ion-item class="item-stable">
                            Date: {{date.date | date:'dd-MMM-yy'}}
                        </ion-item>
                        <div class="item-accordion"  ng-repeat="event in date.Events" >
                            <ion-checkbox class="item-checkbox-right" ng-model="event.isSelected">
                                {{event.time}} | {{event.adversary}} | {{event.Location.city}}-{{event.Location.arena}}
                            </ion-checkbox>
                        </div>
                    </div>
                </div>
            </ion-list>
            <div id="gamePassedWrapper">
                <div class="tNail" ng-class="{hidden:!date.isPassed}" ng-repeat="date in gCtrl.huskyModel.selectedTeam.Dates">
                    <div ng-repeat="event in date.Events" ng-model="date.isPassed">
                        <div>{{date.date | date:'dd-MMM-yy'}} </div>
                        <div>{{event.adversary}}</div>
                        <div>{{event.victory}} : {{event.goalsFor}} - {{event.goalsAgainst}}</div>
                    </div>
                </div>
            </div>
        </div>
        
    </ion-content>
    <button class="button button-float" ng-click="gCtrl.createEvents()">
        <i class="icon ion-android-calendar"></i>
      </button>
</ion-view>


    