<!-- The title of the ion-view will be shown on the navbar -->
  <ion-view view-title="Home" ng-controller="catCtrl">
    <ion-content>
      <!-- The content of the page -->
      <ion-list>
        <ion-item ng-repeat="category in categories" ng-click="getTeams($event, category)">
           <div class="item tabs tabs-secondary">
            <a class="button icon-right ion-chevron-right button-calm" ui-sref="teams">
              {{category}}
            </a>
          </div>
        </ion-item>
      </ion-list>
    <ion-content>
        
  </ion-view>