<ion-view ng-controller="levelController as lCtrl">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear">
		    <i class="ion-chevron-left"></i> {{lCtrl.huskyModel.selectedClub.name}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item class="round-corners--25  item--remove--padding" ng-repeat="level in lCtrl.huskyModel.selectedClub.Levels">
                <div class="ion--item--box--50 ion--item--equ--div--2">
                    <p>{{level.level}}</p>
                </div>
                <div class="ion--item--equ--div--2 h--align-center">
                    <button class='button button--sacnite button--round-l button--size-s button--50 button--right' ng-click="lCtrl.selectLevel(level)" ui-sref="teams">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>