<ion-view ng-controller="teamController as tCtrl">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear">
		    <i class="ion-chevron-left"></i> {{tCtrl.huskyModel.selectedClub.name}} - {{tCtrl.huskyModel.selectedLevel.level}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <div class="card" ng-repeat="team in tCtrl.huskyModel.selectedLevel.Teams">
              <div class="item item-divider" ng-click="tCtrl.selectTeam(team)" ui-sref="games">
                {{team.team}} - Select >>
              </div>
              <div class="item item-text-wrap">
                <div class="columnsTeam">
                    Points: {{team.pointTotal}}<br>
                    Nb parties: {{team.gameCount}}<br>
                    Victoires: {{team.gameVictory}}<br>
                    Défaites:  {{team.gameLost}}<br>
                    
                </div>
                <div class="columnsTeam">
                    Paties nul: {{team.gameDrawn}}<br>
                    Buts pour: {{team.goalFor}}<br>
                    Buts contre: {{team.goalAgainst}}<br>
                    Buts Diff.: {{team.goalDiff}}<br>
                </div>
              </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>