<ion-view ng-controller="teamController as tCtrl">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear">
		    <i class="ion-chevron-left"></i> {{tCtrl.huskyModel.selectedCategory.category}} - {{tCtrl.huskyModel.selectedLevel.level}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="team in tCtrl.huskyModel.teamList" ng-click="tCtrl.selectTeam(team)" ui-sref="games">
                {{team}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>