<ion-view ng-controller="teamController as tCtrl">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear">
		    <i class="ion-chevron-left"></i> {{tCtrl.huskyModel.selectedClub.name}} - {{tCtrl.huskyModel.selectedLevel.level}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="team in tCtrl.huskyModel.selectedLevel.Teams">
                <div style="max-height: 25px">
                    <div class="button icon-left button-clear button-dark" style="float: left" ng-class="{'icon ion-chevron-down': !tCtrl.isDivExpanded(team), 'icon ion-chevron-up': tCtrl.isDivExpanded(team)}" ng-click="tCtrl.toggleDiv(team)"></div>
                    <div style="float: left">{{team.team}}</div>
                    <div style="float: right" class="button icon-right button-clear button-dark icon ion-calendar" ng-click="tCtrl.selectTeam(team)" ui-sref="games"></div>
                </div>
                <div style="padding-top:30px">
                    <div ng-show="tCtrl.isDivExpanded(team)">
                        <ul class="columnx2">
                            <li>
                                <div class="columnx2">Points: </div>
                                <div class="columnx2">{{team.pointTotal}}</div>
                            </li>
                            <li>
                                <div class="columnx2">Nb parties: </div>
                                <div class="columnx2">{{team.gameCount}}</div>
                            </li>
                            <li>
                                <div class="columnx2">Victoires: </div>
                                <div class="columnx2">{{team.gameVictory}}</div>
                            </li>
                            <li>
                                <div class="columnx2">Défaites: </div>
                                <div class="columnx2">{{team.gameLost}}</div>
                            </li>
                        </ul>
                        <ul class="columnx2">
                            <li>
                                <div class="columnx2">Parties nul: </div>
                                <div class="columnx2">{{team.gameDrawn}}</div>
                            </li>
                            <li>
                                <div class="columnx2">Buts pour: </div>
                                <div class="columnx2">{{team.goalFor}}</div>
                            </li>
                            <li>
                                <div class="columnx2">Buts contre: </div>
                                <div class="columnx2">{{team.goalAgainst}}</div>
                            </li>
                            <li>
                                <div class="columnx2">Buts Diff.: </div>
                                <div class="columnx2">{{team.goalDiff}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>